body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.sub_box {
    flex: 1 1 45%;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub_box img {
    max-width: 100%;
    height: auto;
    display: block;
}

form {
    width: 40%;
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .sub_box {
        flex: 1 1 100%;
        margin: 5px 0;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .sub_box img {
      height: 20vh;
      width: 100%;
    }
}